<a href="https://colab.research.google.com/github/Gopizone/DataScience/blob/main/Classification_Naive_Bayes(SalaryData).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
files=files.upload()

Saving SalaryData_Train.csv to SalaryData_Train.csv

In [2]:
from google.colab import files
files=files.upload()

Saving SalaryData_Test.csv to SalaryData_Test.csv

In [3]:
import pandas as pd

In [4]:
train= pd.read_csv("SalaryData_Train.csv")
train.head()

   age          workclass   education  ...  hoursperweek          native  Salary
0   39          State-gov   Bachelors  ...            40   United-States   <=50K
1   50   Self-emp-not-inc   Bachelors  ...            13   United-States   <=50K
2   38            Private     HS-grad  ...            40   United-States   <=50K
3   53            Private        11th  ...            40   United-States   <=50K
4   28            Private   Bachelors  ...            40            Cuba   <=50K

[5 rows x 14 columns]

In [5]:
test=pd.read_csv("SalaryData_Test.csv")
test.head()

   age   workclass      education  ...  hoursperweek          native  Salary
0   25     Private           11th  ...            40   United-States   <=50K
1   38     Private        HS-grad  ...            50   United-States   <=50K
2   28   Local-gov     Assoc-acdm  ...            40   United-States    >50K
3   44     Private   Some-college  ...            40   United-States    >50K
4   34     Private           10th  ...            30   United-States   <=50K

[5 rows x 14 columns]

In [6]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
train["workclass"] = label_encoder.fit_transform(train["workclass"])
train["education"] = label_encoder.fit_transform(train["education"])
train["maritalstatus"] = label_encoder.fit_transform(train["maritalstatus"])
train["occupation"] = label_encoder.fit_transform(train["occupation"])
train["relationship"] = label_encoder.fit_transform(train["relationship"])
train["race"] = label_encoder.fit_transform(train["race"])
train["sex"] = label_encoder.fit_transform(train["sex"])
train["native"] = label_encoder.fit_transform(train["native"])
train["Salary"] = label_encoder.fit_transform(train["Salary"])

test["workclass"] = label_encoder.fit_transform(test["workclass"])
test["education"] = label_encoder.fit_transform(test["education"])
test["maritalstatus"] = label_encoder.fit_transform(test["maritalstatus"])
test["occupation"] = label_encoder.fit_transform(test["occupation"])
test["relationship"] = label_encoder.fit_transform(test["relationship"])
test["race"] = label_encoder.fit_transform(test["race"])
test["sex"] = label_encoder.fit_transform(test["sex"])
test["native"] = label_encoder.fit_transform(test["native"])
test["Salary"] = label_encoder.fit_transform(test["Salary"])

In [7]:
train

       age  workclass  education  ...  hoursperweek  native  Salary
0       39          5          9  ...            40      37       0
1       50          4          9  ...            13      37       0
2       38          2         11  ...            40      37       0
3       53          2          1  ...            40      37       0
4       28          2          9  ...            40       4       0
...    ...        ...        ...  ...           ...     ...     ...
30156   27          2          7  ...            38      37       0
30157   40          2         11  ...            40      37       1
30158   58          2         11  ...            40      37       0
30159   22          2         11  ...            20      37       0
30160   52          3         11  ...            40      37       1

[30161 rows x 14 columns]

In [8]:
test

       age  workclass  education  ...  hoursperweek  native  Salary
0       25          2          1  ...            40      37       0
1       38          2         11  ...            50      37       0
2       28          1          7  ...            40      37       1
3       44          2         15  ...            40      37       1
4       34          2          0  ...            30      37       0
...    ...        ...        ...  ...           ...     ...     ...
15055   33          2          9  ...            40      37       0
15056   39          2          9  ...            36      37       0
15057   38          2          9  ...            50      37       0
15058   44          2          9  ...            40      37       0
15059   35          3          9  ...            60      37       1

[15060 rows x 14 columns]

In [9]:
X_train=train.iloc[:,:-1]
y_train=train.iloc[:,-1]
X_test=test.iloc[:,:-1]
y_test=test.iloc[:,-1]

In [10]:

X_train.shape, y_train.shape, X_test.shape, y_test.shape

((30161, 13), (30161,), (15060, 13), (15060,))

In [15]:
# Multinomial Naive Bayes
import numpy as np
from sklearn.naive_bayes import MultinomialNB as MB
from sklearn.metrics import accuracy_score, confusion_matrix

clf = MB()
clf.fit(X_train,y_train)
train_pred_m=clf.predict(X_train)
accuracy_train_m = np.mean(train_pred_m==y_train)

test_pred_m = clf.predict(X_test)
accuracy_test_m = np.mean(test_pred_m==y_test)


print("Train Accuracy:",accuracy_train_m)
print("Test Accuracy:",accuracy_test_m)

Train Accuracy: 0.7729186698053778
Test Accuracy: 0.7749667994687915

In [16]:

confusion_matrix(y_test, y_pred)

array([[10891,   469],
       [ 2920,   780]])

In [17]:
# Gaussian Naive Bayes 

from sklearn.naive_bayes import GaussianNB as GB
clf1 = GB()
clf1.fit(X_train,y_train)
train_pred_g=clf1.predict(X_train)
accuracy_train_g = np.mean(train_pred_g==y_train)

test_pred_g = clf1.predict(X_test)
accuracy_test_g = np.mean(test_pred_g==y_test)


print("Train Accuracy:",accuracy_train_g)
print("Test Accuracy:",accuracy_test_g)

Train Accuracy: 0.7953317197705646
Test Accuracy: 0.7946879150066402

This dataset works well with Multinomial Naive Bayes (As both the Test and Train Accuracy are Similar)