<a href="https://colab.research.google.com/github/Gopizone/DataScience/blob/main/Ensemble_Bagging_Random_Forest_Boosting_Stacking_(Company_Data).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
files=files.upload()

Saving Company_Data.csv to Company_Data.csv

In [2]:
# Bagged Decision Trees for Classification
from pandas import read_csv
import pandas as pd
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing

In [4]:
Comp_Data= pd.read_csv("Company_Data.csv")

Comp_Data.head()

   Sales  CompPrice  Income  Advertising  ...  Age  Education Urban   US
0   9.50        138      73           11  ...   42         17   Yes  Yes
1  11.22        111      48           16  ...   65         10   Yes  Yes
2  10.06        113      35           10  ...   59         12   Yes  Yes
3   7.40        117     100            4  ...   55         14   Yes  Yes
4   4.15        141      64            3  ...   38         13   Yes   No

[5 rows x 11 columns]

In [5]:
Comp_Data.loc[Comp_Data["Sales"] <= 10.00,"Sales1"]="Not High"
Comp_Data.loc[Comp_Data["Sales"] >= 10.01,"Sales1"]="High"

In [6]:
Comp_Data

     Sales  CompPrice  Income  Advertising  ...  Education  Urban   US    Sales1
0     9.50        138      73           11  ...         17    Yes  Yes  Not High
1    11.22        111      48           16  ...         10    Yes  Yes      High
2    10.06        113      35           10  ...         12    Yes  Yes      High
3     7.40        117     100            4  ...         14    Yes  Yes  Not High
4     4.15        141      64            3  ...         13    Yes   No  Not High
..     ...        ...     ...          ...  ...        ...    ...  ...       ...
395  12.57        138     108           17  ...         14    Yes  Yes      High
396   6.14        139      23            3  ...         11     No  Yes  Not High
397   7.41        162      26           12  ...         18    Yes  Yes  Not High
398   5.94        100      79            7  ...         12    Yes  Yes  Not High
399   9.71        134      37            0  ...         16    Yes  Yes  Not High

[400 rows x 12 columns]

In [7]:
label_encoder = preprocessing.LabelEncoder()
Comp_Data["ShelveLoc"] = label_encoder.fit_transform(Comp_Data["ShelveLoc"])
Comp_Data["Urban"] = label_encoder.fit_transform(Comp_Data["Urban"])
Comp_Data["US"] = label_encoder.fit_transform(Comp_Data["US"])
Comp_Data["Sales1"] = label_encoder.fit_transform(Comp_Data["Sales1"])

In [8]:
Comp_Data

     Sales  CompPrice  Income  Advertising  ...  Education  Urban  US  Sales1
0     9.50        138      73           11  ...         17      1   1       1
1    11.22        111      48           16  ...         10      1   1       0
2    10.06        113      35           10  ...         12      1   1       0
3     7.40        117     100            4  ...         14      1   1       1
4     4.15        141      64            3  ...         13      1   0       1
..     ...        ...     ...          ...  ...        ...    ...  ..     ...
395  12.57        138     108           17  ...         14      1   1       0
396   6.14        139      23            3  ...         11      0   1       1
397   7.41        162      26           12  ...         18      1   1       1
398   5.94        100      79            7  ...         12      1   1       1
399   9.71        134      37            0  ...         16      1   1       1

[400 rows x 12 columns]

In [9]:
x=Comp_Data.iloc[:,1:11]
y=Comp_Data["Sales1"]

In [10]:

seed = 7

kfold = KFold(n_splits=10, random_state=seed)
cart = DecisionTreeClassifier()
num_trees = 50
model = BaggingClassifier(base_estimator=cart, n_estimators=num_trees, random_state=seed)
results = cross_val_score(model, x, y, cv=kfold)
print(results.mean())

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

0.8375

In [11]:
# Random Forest Classification
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier


num_trees = 100
max_features = 2
kfold = KFold(n_splits=10, random_state=7)
model = RandomForestClassifier(n_estimators=num_trees, max_features=max_features)
results = cross_val_score(model, x, y, cv=kfold)
print(results.mean())

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

0.8275

In [12]:
# AdaBoost Classification
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import AdaBoostClassifier


num_trees = 7
seed=7
kfold = KFold(n_splits=10, random_state=seed)
model = AdaBoostClassifier(n_estimators=num_trees, random_state=seed)
results = cross_val_score(model, x, y, cv=kfold)
print(results.mean())

0.8300000000000001

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

In [16]:
# Stacking Ensemble for Classification
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import VotingClassifier

kfold = KFold(n_splits=10, random_state=10)

# create the sub models
estimators = []
model1 = LogisticRegression(max_iter=1000)
estimators.append(('logistic', model1))
model2 = DecisionTreeClassifier()
estimators.append(('cart', model2))
model3 = SVC()
estimators.append(('svm', model3))

# create the ensemble model
ensemble = VotingClassifier(estimators)
results = cross_val_score(ensemble, x, y, cv=kfold)
print(results.mean())

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

0.8300000000000001

## This dataset works well with all the Classifier techniques